*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{

font-family:Arial,sans-serif;

}

/* Navbar */

.custom-nav{

background:rgba(0,0,0,.35);
backdrop-filter:blur(10px);

}

.navbar-brand{

letter-spacing:3px;

}

.nav-link{

margin-left:20px;
font-weight:500;

}

.nav-link:hover{

color:gold !important;

}

/* Hero */

.hero{

height:100vh;

background:url("../assets/hero.avif") no-repeat center center;

background-size:cover;

background-position:center;

position:relative;

color:white;

}

.hero::before{

content:"";

position:absolute;

top:0;
left:0;

width:100%;
height:100%;

background:rgba(0,0,0,.55);

}

.hero .container{

position:relative;
z-index:2;

}

.hero h1{

font-size:70px;

}

.hero p{

max-width:500px;

}